<component name="ArtifactManager">
  <artifact type="war" name="spring-MVC:war">
    <output-path>$PROJECT_DIR$/spring-MVC/target</output-path>
    <root id="archive" name="spring-mvc-freemarker.war">
      <element id="artifact" artifact-name="spring-MVC:war exploded" />
    </root>
  </artifact>
</component>